@import "reset.css";
@import "normalize.css";

body{
	font: normal 14px 'Open Sans', Arial, sans-serif;
	color: red;
	background: black;
}

.header{
	color: white;
	text-align: center;
}

.wrap{
	width: 400px;
	margin: 0 auto;
}

.task-list{
	width: 88%;
	min-height: 275px;
	background: #fff;
	box-shadow: 2px 2px 2px #ddd;
	margin-top: 40px;
	padding: 22px 6%;
}

.add-new-task{
	color: red;
	min-height: 100px;
	padding: 40px 29%;
}

.links{
	background: white;
	text-align: center;
	width: 150px;
	margin: 4px;
	margin-left: 580px;
}
#button{
	margin-left: 550px;
	width: 200px;
}